version: '3'
services:
  chromium:
    build: .
    container_name: agent_browser_env
    security_opt:
      - seccomp:unconfined
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Taipei
      - CHROME_CLI=--remote-debugging-port=9222 --disable-blink-features=AutomationControlled --disable-infobars --start-maximized --window-position=0,0 --window-size=1280,800
    volumes:
      - ./browser-config:/config
    ports:
      - "3000:3000"
      - "3001:3001"
      - "9222:9223"
    shm_size: "2gb"
